@import "../App";

.leftPanel {
    width: 480px;
    height: 700px;
    background-color: #31313a;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 11;
    border-radius: 4px;
}

.profileImage {
    height: 125px;
    width: auto;
    border-radius: 50%;
}

.profileName {
    font-size: 28px;
}

.footer {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    border-top: 1px solid $borderColor;
}

.downloadCV {
    flex: 1;
    padding: 15px;
    border-right: 1px solid $borderColor;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    &:hover {
        color: $themeColor;
    }
}

.callMe {
    flex: 1;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        color: $themeColor;
    }
}

.footerIcon {
    margin-left: 10px;
}

@media only screen and (max-width: 480px) {
    .leftPanel {
      height: 100vh;
      width: 100vw;
    }
  }