@import "../App";

.navigation {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    height: max-content;
}

.navigationItem {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 100;
    padding: 10px;
    border-bottom: 1px solid $borderColor;
    cursor: pointer;
    &:last-child {
        border-bottom: none;
    }
    &:hover {
        color: $themeColor;
    }
}

.navigationImage {
    font-size: 20px;
}

.tabSelected {
    color: $themeColor;
}